<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Situation Exchange</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/lines-discovery">Lines Discovery</a>
      </li>
      <li>
        <a routerLink="/stoppoints-discovery">StopPoints Discovery</a>
      </li>
      <li>
        <a routerLink="/situation-exchange">Situation Exchange</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
