<div class="container">
  <table datatable [settings]=settings class="table table-condensed table-striped table-bordered nowrap table-hover" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>LineRef</th>
        <th>LineName</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>
          <input type="text" class="form-control" placeholder="Search LineRef" />
        </th>
        <th>
          <input type="text" class="form-control" placeholder="Search LineName" />
        </th>
      </tr>
    </tfoot>
  </table>
</div>
